<div class="container">
  <div class="row text-center">
    <%= image_tag("../../assets/roadtrip_planner_broken.png", :class=>"header-image") %>
  </div>
    <div class="row text-center header-subtext">
ERROR: Invalid Zip Code- please go back and enter valid 5-digit zipcode. 
  </div>
</div>
