 <%= stylesheet_link_tag "bootstrap.min" %>
<%=stylesheet_link_tag "input"%>

<div class="bg non-blur no-nonblur"></div>
<div class="bg blur semi-blur"></div>

<div class="container">
  <div class="row text-center">
    <%= image_tag("../../assets/roadtrip_planner.png", :class=>"header-image") %>
  </div>
    <div class="row text-center header-subtext">
    Travel Information
  </div>
</div>

<!-- Filler-->
<div class = "col-md-1">
</div>


<div class="row col-md-3 intro ">
  <h1 class = "names2 text-left left lead">  
  	<div class = "normalWhite"> Starting Zip Code:</div> &nbsp&nbsp&nbsp&nbsp<%=@startZip%> <br>
  	<div class = "normalWhite"> Destinations: </div>
 <ol class = "text-left">
  	<%for i in (0..@zipList.length-1)%> 
  	<li>	<%=@cList.shift%>, <%=@zipList[i]%>  </li>
  	<% end%>
 </ol>

 <div class = "normalWhite"> Optimized Order of Travel: </div>
 <ol class = "text-left">
  	<%for i in (0..@duration.length-1)%> 
  	<li>	<%=@address.shift%>, <%=@duration.shift%>  </li>
  	<% end%>
 </ol>
  </h1>
</div>


<div class="row text-center col-md-4">
  <body>
  	<iframe width="450" height="450" frameborder="0" style="border:0" src=<%=@gMap%>>
        </iframe>
  </body>
</div> 

<div class="row text-center col-md-3 intro ">
<h1 class = "names text-left left lead">  
 Top two hotels for each waypoint:
 <ol class = "names2 text-left">
  	<%for i in (0..@zipList.length-1)%> 
  	<li>	
      <h1 class = "normalWhite"> <%=@zipList.shift%> </h1> <%=@hotelList.shift%> <br> <%=@hotelList.shift%>  </li>
  	<% end%>
 </ol>
</h1>
</div>  





<!-- /About -->
