<%= stylesheet_link_tag "bootstrap.min" %>
<%=stylesheet_link_tag "input"%>


<div class="bg non-blur no-nonblur"></div>
<div class="bg blur semi-blur"></div>

<div class="container">
  <div class="row text-center">
    <%= image_tag("../../assets/roadtrip_planner.png", :class=>"header-image") %>
  </div>
    <div class="row text-center header-subtext">
    	<br>
  </div>
</div>

<!-- Filler-->
<div class = "col-md-1"> </div>

<div class="row col-md-3 submit-button ">
  <h1 class = "names text-left left lead">
    <div class = "bigFont text-center">
	    Plan your college road trip! <br><br>
	</div>
	    Enter the colleges that you want to visit and their respective zip codes into
	    the boxes to the right. Press the "Add Another" button to add another college. 
	    Once you have entered all the colleges that you want to visit, press MapIt! To 
	    create a map of your college road trip and to see a list of hotels that you
	    can stay at along the way!
  </h1>
</div>

<div class = "col-md-1">
</div>

<div class="row text-center col-md-5 submit-button">
	<div class = "bigFont">
		Give me a zip code! <br> 
	</div>
      <!-- Use a form to send data to the controller-->
    <%@tempID=@id%> <!-- Necessary to use same exact image-->
    <%= form_tag( {controller: "output", action: "index"}, method: "get") do %>
      
      <div class = "Home"> <%= label_tag(:home, "Start Loc", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:home) %> 
      <%= label_tag(:homezip, "Zip Code", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:homezip) %> 
  	  </div>

      <div class = "1"> <%= label_tag(:c1, "College 1", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:c1) %> 
      <%= label_tag(:zip1, "Zip Code", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:zip1) %> 
  	  </div>

       <div class = "2"> <%= label_tag(:c2, "College 2", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:c2) %> 
      <%= label_tag(:zip2, "Zip Code", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:zip2) %> 
  	  </div>

       <div class = "3">  <%= label_tag(:c3, "College 3", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:c3) %> 
      <%= label_tag(:zip3, "Zip Code", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:zip3) %> 
      </div>

       <div class = "4"><%= label_tag(:c4, "College 4", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:c4) %>
      <%= label_tag(:zip4, "Zip Code", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:zip4) %> </div>
 	<br>
      <div class = "price"> <%= label_tag(:price, "Desired Room Rate", :class=>"userPopup3 name ") %> 
      <%= text_field_tag(:price) %> 
  	  </div>





      <!--<%= hidden_field_tag :id,@tempID %> -->
      <!--<%= submit_tag("MapIt!", :class=>"submit-button",:id=>"submit") %>-->
      <br> <button id= "add" type="button" class="btn btn-danger">Add another</button>
      <%= submit_tag("MapIt!", :class=>"btn btn-success",:id=>"submit") %>
    <% end %>
</div>  
</div>




<!-- /About -->
