
.show-pic {
    height: 320px;
    width: 320px;
    vertical-align: middle;
    border-radius: 20px;
    border: 2px solid #ccc;
  //background: rgba(50,50,50,0.5);
}

.show-pic.right {
    margin-left: -74px;
    border: 2px solid #ccc;
}


.show-pic.left {
    margin-right: -50px;
}

.names {
    color: #fff;
    font-size: 20px;
}

.names2 {
    color: #ccc;
    font-size: 16px;
}

.normalWhite {
    color: #fff;
    font-size: 18px;
}

.subtitle{
	color: #ccc;
	font-size: 32px;
}




.address {
    color: #999;
    font-size: 14px;
    height: 40px;
}

.row {
    margin: 0;
}

.signed-in, .sign-out, .username {
    color: #fefefe;
    opacity: 0.7;
}

.sign-out:hover {
    opacity: 0.9;
    color: #fefefe;
}

.whitext {
    font-size: 14px;
    color: #ccc;
}

canvas2 {
    border:5px solid red;
    position:relative; 
    z-index:20;
}

.submit-button {
    border-radius: 15px;
    border: 2px solid #8e8e8e;
    background-color: rgba(50,50,50,0.6);
    color: rgb(132,165,186);
    padding: 8px;
}

.bigFont{
	font-size: 28px;
	color: rgb(132,165,186);
}

.intro {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 25px;
    background-color: rgba(100,110,140,0.5);
    padding: 15px;
    border: 2px solid #8e8e8e;
}

.intro.left {
    margin-right: +20px;
}

.description{
    color: #ccc;
    font-size: 16px;
}

.userPopup1{
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-color: rgba(100,120,120,0.6);
    padding: 8px;
    color: #ccc;
    font-size: 15px;
    border: 2px solid #666666;
}

.userPopup2{
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-color: rgba(100,100,140,0.5);
    padding: 8px;
    color: #ccc;
    font-size: 28px;
    border: 2px solid #666666;
}

.userPopup3{
    border: 1px solid rgba(0,0,0,0);
    background-color: rgba(100,100,120,0.6);
    padding: 5px;
    color: #ccc;
    font-size: 12px;
    border: 2px solid #666666;
}

.link{
    color: #ccc;
}

.planit{
    display: inline-block;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 120px;
  font-family: 'HelveticaNeue-UltraLight', 'HelveticaNeueLight', 'Helvetica Neue', Helvetica, 'Lato' Arial, sans-serif;
  font-weight: 100;
  color: #fff;
  margin-bottom: 100px;
  vertical-align: middle;
}

.header-image {
  height: 120px;
  margin: 10px;
}

.header-subtext {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  vertical-align: middle;
}

body {
	background-image: image-url('blueBack.jpg');
}


